<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>{% block title %} Pothos - Budget better {% endblock %}</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="" class="navbar-item">
                Pothos
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                {% block navbuttons %}
                <a class="navbar-item">Features</a>
                <a class="navbar-item">Contact</a>
                {% endblock %}
            </div>
            <div class="navbar-end">
                {% block signin %}
                <a role="button" class="navbar-item">Sign in</a>
                {% endblock %}
            </div>
        </div>
    </nav>
</body>
</html>
