{% extends "base.html" %}

{% block title %} Budget {% endblock %}

{% block navbuttons %} {% endblock %}

{% block signin %}
<a href="/user/logout" class="navbar-item has-background-warning has-text-success is-size-6 my-3 mx-4">Log out</a>
{% endblock %}

{% block mainbody %}
<!--
<div class="tabs is-fullwidth is-toggle">
    <ul>
        <li class="is-active">
            <a>
                <span>Budget</span>
            </a>
        </li>
        <li>
            <a>
                <span>Analysis</span>
            </a>
        </li>
    </ul>
</div>
-->
<div id="Budget" class="my-6 mx-6">
    <div class="box has-background-warning mx-3 my-4">
        <div class="columns">
            <p class="column is-size-4">Total Income: </p>
            <p class="column is-size-4">Total Spending: </p>
            <p class="column is-size-4">Remaining Amount: </p>
        </div>
    </div>

    <div class="box has-background-warning mx-3 my-4">
        <div class="is-size-3 has-text-centered mb-6">Income and Spendings</div>

        <div class="columns">
            <div id="incomeHolder" class="column px-6">
                <div class="box has-background-primary py-2 px-5">
                    <span class="is-size-5">Salary</span>
                    <div class="is-pulled-right mt-1">
                        <button class="delete is-medium" onclick="deleteTransaction(this)"></button>
                    </div>
                </div>

                <nav id="incomePagination" class="pagination is-centered mt-6" role="navigation"
                    aria-label="pagination">
                    <a class="pagination-previous has-background-success has-text-warning">Previous</a>
                    <a class="pagination-next has-background-success has-text-warning">Next page</a>
                    <ul class="pagination-list">
                        <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                    </ul>
                </nav>
            </div>

            <div id="spendingHolder" class="column px-6">
                <div class="box has-background-danger py-2 px-4">
                    <span class="is-size-5">Spending</span>
                    <div class="is-pulled-right px-2">
                        <div class="tag is-warning has-text-success mr-2 is-size-6">Rent</div>
                        <button class="delete is-medium mt-1"></button>
                    </div>
                </div>

                <nav id="spendingPagination" class="pagination is-centered mt-6" role="navigation"
                    aria-label="pagination">
                    <a class="pagination-previous has-background-success has-text-warning">Previous</a>
                    <a class="pagination-next has-background-success has-text-warning">Next page</a>
                    <ul class="pagination-list">
                        <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="button is-primary is-rounded is-pulled-right" id="ModalButton" data-target="modal"> &plus; </div>
        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content is-clipped">
                <form class="box has-background-warning columns" method="POST" action="">
                    <div class="column">
                        <div class="field">
                            <label for="budget-title" class="label">Title</label>
                            <div class="control">
                                <input maxlength="35" type="text" id="budget-title" placeholder="Enter the name/title: "
                                    class="input">
                            </div>
                        </div>
                        <div class="field">
                            <label for="budget-amount" class="label">Amount</label>
                            <div class="control">
                                <input type="number" id="budget-amount" placeholder="Enter the amount: " class="input">
                            </div>
                        </div>
                        <div class="field">
                            <label for="budget-date" class="label">Date</label>
                            <div class="control">
                                <input type="date" id="budget-date">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-link">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label for="budget-type" class="label">Type</label>
                            <div class="control select">
                                <select name="budget-type" id="budget-type" onchange="displayTypeOfSpending()">
                                    <option value="Income">Income</option>
                                    <option value="Spending">Spending</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label for="spending-type" class="label">Type of Spending</label>
                            <div class="control select">
                                <select name="spending-type" id="spending-type" disabled>
                                    <option value="Rent">Rent</option>
                                    <option value="Food/Groceries">Food/Groceries</option>
                                    <option value="Material Goods">Material Goods</option>
                                    <option value="Investment">Investment</option>
                                    <option value="Entertainment">Entertainment</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label for="budget-notes" class="label">Notes</label>
                            <div class="control">
                                <textarea maxlength="300" name="budget-notes" id="budget-notes" cols="30" rows="3"
                                    class="textarea"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-close is-large"></div>
        </div>
    </div>
</div>
<div id="Analysis" hidden></div>

{% endblock %}

{% block script %}

<script>

    //tabs handling
    /*
    let tabs = document.querySelector(".tabs").children[0].children;
    let budgetTab = document.getElementById("Budget");
    let analysisTab = document.getElementById("Analysis");

    tabs[0].addEventListener("click", changetabs("budget"));
    tabs[1].addEventListener("click", changetabs("analysis"));

    function changetabs(tabToChangeTo) {
        if (tabToChangeTo == "budget") {
            return () => {
                tabs[0].classList.add("is-active");
                tabs[1].classList.remove("is-active");
                budgetTab.hidden = false;
                analysisTab.hidden = true;
            }
        }
        else {
            return () => {
                tabs[1].classList.add("is-active");
                tabs[0].classList.remove("is-active");
                analysisTab.hidden = false;
                budgetTab.hidden = true;

            }
        }
    }*/

    //Add button modal handling
    let loginModalButton = document.getElementById("ModalButton");
    let modalBG = document.querySelector(".modal-background")
    let modalExit = document.querySelector(".modal-close")

    loginModalButton.addEventListener(
        "click",
        () => { document.querySelector(".modal").classList.add("is-active"); }
    )

    modalBG.addEventListener(
        "click",
        () => { document.querySelector(".modal").classList.remove("is-active"); }
    )

    modalExit.addEventListener(
        "click",
        () => { document.querySelector(".modal").classList.remove("is-active"); }
    )

    //Type of spending handling
    let budgetType = document.getElementById("budget-type");
    let typeOfSpending = document.getElementById("spending-type");

    function displayTypeOfSpending() {
        if (budgetType.value == "Income") {
            typeOfSpending.disabled = true;
        } else {
            typeOfSpending.disabled = false;
        }
    }

    //Delete Transaction
    function deleteTransaction(button) {
        let parent = button.parentElement.parentElement;
        parent.remove()
    }

    //Manage Pagination
    let incomePagination = document.getElementById("incomePagination");
    let spendingPagination = document.getElementById("spendingPagination");
    let incomeHolder = document.getElementById("incomeHolder");
    let spendingHolder = document.getElementById("spendingHolder");

    if (incomeHolder.childElementCount <= 2) {
        incomePagination.style.display = "none";
    }
    if (spendingHolder.childElementCount <= 2) {
        spendingPagination.style.display = "none";
    }

</script>
{% endblock %}
