{% extends "base.html" %}

{% block signin %}
<button class="button is-small is-danger is-size-6 my-3 mx-3" data-target="modal" id="ModalButton">Sign In</button>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box has-background-warning">
            <div class="columns">
                <div class="column">
                    <form action="/user/login" method="POST" id="LoginForm">
                        {% csrf_token %}
                        <div class="field">
                            <label for="login-email" class="label">Email</label>
                            <div class="control">
                                <input type="text" id="login-email" placeholder="Enter your email" class="input">
                            </div>
                        </div>
                        <div class="field">
                            <label for="login-password" class="label">Password</label>
                            <div class="control">
                                <input type="text" id="login-password" placeholder="Enter your password" class="input">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-link">Submit</button>
                            </div>
                        </div>
                        <div class="is-size-6">Don't have an account yet?
                            <a href="#" id="LoginToSignup">Signup!</a>
                        </div>
                    </form>
                    <form action="/user/signup" method="POST" id="SignupForm" hidden>
                        {% csrf_token %}
                        <div class="field">
                            <label for="signup-email" class="label">Email</label>
                            <div class="control">
                                <input type="text" id="signup-email" placeholder="Enter your email" class="input">
                            </div>
                        </div>
                        <div class="field">
                            <label for="signup-username" class="label">Username</label>
                            <div class="control">
                                <input type="text" id="signup-username" placeholder="Enter your username" class="input">
                            </div>
                        </div>
                        <div class="field">
                            <label for="signup-password" class="label">Password</label>
                            <div class="control">
                                <input type="text" id="signup-password" placeholder="Enter your password" class="input">
                            </div>
                        </div>
                        <div class="field">
                            <label for="currency" class="label">Currency</label>
                            <div class="control select">
                                <select name="currency" id="currency">
                                    <option value="USD">United States Dollar</option>
                                    <option value="EUR">Euros</option>
                                    <option value="INR">Indian Rupee</option>
                                    <option value="JPY">Japenese Yen</option>
                                    <option value="CNY">Yuan Renminbi</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-link">Submit</button>
                            </div>
                        </div>
                        <div>Already have an account? <a href="#" role="button" id="SignupToLogin">Sign in!</a>
                        </div>
                    </form>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock %}

{% block script %}

<script>
    let loginModalButton = document.getElementById("ModalButton");
    let modalBG = document.querySelector(".modal-background")
    let modalExit = document.querySelector(".modal-close")

    loginModalButton.addEventListener(
        "click",
        () => { document.querySelector(".modal").classList.add("is-active"); }
    )

    modalBG.addEventListener(
        "click",
        () => {
            changeform(signupToLoginButton.id)();
            document.querySelector(".modal").classList.remove("is-active");
        }
    )

    modalExit.addEventListener(
        "click",
        () => {
            changeform(signupToLoginButton.id)()
            document.querySelector(".modal").classList.remove("is-active");
        }
    )


    let loginToSignupButton = document.getElementById("LoginToSignup");
    let signupToLoginButton = document.getElementById("SignupToLogin");

    let loginform = document.getElementById("LoginForm");
    let signupform = document.getElementById("SignupForm");

    loginToSignupButton.addEventListener("click", changeform(loginToSignupButton.id));
    signupToLoginButton.addEventListener("click", changeform(signupToLoginButton.id));

    function changeform(id) {
        if (id == "LoginToSignup") {
            return () => {
                loginform.hidden = true;
                signupform.hidden = false;
            }
        }
        else {
            return () => {
                signupform.hidden = true;
                loginform.hidden = false;
            }
        }
    }
</script>

{% endblock %}
