@charset "utf-8"

//Colours
$darkforestgreen: #09725F
$lightrefreshinggreen: #27FB6B
$generalgreen: #14CC60
$lightblue: #E4E2F3
$red: #FF715B

//variables-color
$primary: $generalgreen
$link: $lightrefreshinggreen
$success: $darkforestgreen
$warning: $lightblue
$danger: $red

@import "../../../../node_modules/bulma/sass/utilities/_all"

@import "../../../../node_modules/bulma/sass/helpers/color"
@import "../../../../node_modules/bulma/sass/helpers/typography"
@import "../../../../node_modules/bulma/sass/helpers/spacing"
@import "../../../../node_modules/bulma/sass/helpers/float"

@import "../../../../node_modules/bulma/sass/elements/box"
@import "../../../../node_modules/bulma/sass/elements/icon"
@import "../../../../node_modules/bulma/sass/elements/other"
@import "../../../../node_modules/bulma/sass/elements/button"
@import "../../../../node_modules/bulma/sass/elements/tag"

@import "../../../../node_modules/bulma/sass/components/navbar"
@import "../../../../node_modules/bulma/sass/components/pagination"
@import "../../../../node_modules/bulma/sass/components/tabs"

@import "../../../../node_modules/bulma/sass/layout/hero"
@import "../../../../node_modules/bulma/sass/layout/footer"

@import "../../../../node_modules/bulma/sass/grid/columns"
