@charset "utf-8"

//Colours
$darkforestgreen: #09725F
$lightrefreshinggreen: #27FB6B
$generalgreen: #14CC60
$lightblue: #E4E2F3
$red: #FF715B

//variables-color
$primary: $generalgreen
$link: $lightrefreshinggreen
$success: $darkforestgreen
$warning: $lightblue
$danger: $red